@model Uni.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="text-primary mt-2 mb-2">Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_unitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor_unitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade_medida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unidade_medida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque_minimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque_minimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque_maximo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque_maximo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque_atual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque_atual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CFOP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CFOP.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CST)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CST.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NCM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NCM.FullName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Index">Voltar</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id_produto">Editar</a> 
</div>
