@model IEnumerable<Uni.Models.Venda_Produto>

@{
    ViewData["Title"] = "Venda de Produtos";
}

<h1 class="text-primary mt-2">Venda Produto</h1>

<p>
    <a class="btn btn-outline-primary mt-4" asp-action="Create">Adicionar</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto_Id_produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venda.Id_venda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto_Id_produto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_vendaProduto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_vendaProduto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_vendaProduto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
