@model IEnumerable<Uni.Models.CST>

@{
    ViewData["Title"] = "CST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary mt-2">CST</h1>

<p>
    <a class="btn btn-outline-primary mt-4" asp-action="Create">Adicionar</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td width="60%">
                    <p class="text-break"> @Html.DisplayFor(modelItem => item.Descricao)</p>
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Codigo">Editar</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example apagar">
    <ul class="pagination">
        @{
            if (ViewBag.Total > 1)
            {
                for (int i = 1; i <= ViewBag.Total; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="page-item active"> @Html.ActionLink(i.ToString(), "Index", new { Page = @i - 1 }, new { @class = "page-link" })</li>
                    }
                    else
                    {
                        <li class="page-item"> @Html.ActionLink(i.ToString(), "Index", new { Page = @i - 1 }, new { @class = "page-link" })</li>
                    }
                }
            }
        }
    </ul>
</nav>