@model Uni.Models.Fornecedor

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="text-primary mt-2 mb-2">Detalhes</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_empresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao_estadual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao_estadual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao_municipal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscricao_municipal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone.Telefones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone.Telefones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Estado)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Index">Voltar</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Cnpj" asp-route-telefone="@Model.Telefone_Id_telefone" asp-route-endereco="@Model.Endereco_Id_endereco">Editar</a>
</div>
