@model IEnumerable<Uni.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
}

<style type="text/css">
    @@media print {
        @@page {
            margin-left: 15mm;
            margin-right: 15mm;
        }

        footer {
            page-break-after: always;
        }

        .apagar {
            display: none;
        }
    }
</style>

<h1 class="text-primary mt-2">Fornecedores</h1>

<p>
    <a class="btn btn-outline-primary mt-4 apagar" asp-action="Create">Adicionar</a>
</p>

<form asp-controller="Fornecedores" asp-action="Index" method="get">

    <div class="row apagar">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <label class="control-label">Empresa</label>
            <input type="text" name="SearchString" class="form-control" />
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <label class="control-label">CNPJ</label>
            <input name="SearchString2" class="form-control" onkeypress="return valCNPJ(event, this); return false;" maxlength="18" />
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2">
            <label class="control-label">Cidade</label>
            <input type="text" name="SearchString3" class="form-control" />
        </div>

        <div class="col-sm-12 col-md-3 col-lg-1">
            <label class="control-label">Estado</label>
            <input type="text" name="SearchString4" class="form-control" maxlength="2" />
        </div>

        <div class="col-sm-6 col-md-2 col-lg-1 mt-2">
            <input type="submit" value="Pesquisar" class="btn btn-outline-secondary mt-md-4 mb-md-4" />
        </div>
        <div class="col-sm-6 col-md-2 col-lg-1 mt-2 ml-md-3">
            <input type="button" value="Imprimir" onclick="window.print()" class="btn btn-outline-success mt-md-4 mb-4" />
        </div>
    </div>

</form>
<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao_estadual)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeResumido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inscricao_estadual)
                </td>
               
                <td>
                    <a class="btn btn-info apagar" asp-action="Edit" asp-route-id="@item.Telefone_Id_telefone">Editar</a>
                    <a class="btn btn-warning apagar" asp-action="Details" asp-route-id="@item.Telefone_Id_telefone">Detalhes</a>
                    <a class="btn btn-danger apagar" asp-action="Delete" asp-route-id="@item.Telefone_Id_telefone" asp-route-endereco="@item.Endereco_Id_endereco">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example apagar">
    <ul class="pagination">
        @{
            if (ViewBag.Total > 1)
            {
                for (int i = 1; i <= ViewBag.Total; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="page-item active"> @Html.ActionLink(i.ToString(), "Index", new { SearchString = ViewBag.Nome, SearchString2 = ViewBag.Cnpj, SearchString3 = ViewBag.Cidade, SearchString4 = ViewBag.Estado, Page = @i - 1 }, new { @class = "page-link" })</li>
                    }
                    else
                    {
                        <li class="page-item"> @Html.ActionLink(i.ToString(), "Index", new { SearchString = ViewBag.Nome, SearchString2 = ViewBag.Cnpj, SearchString3 = ViewBag.Cidade, SearchString4 = ViewBag.Estado, Page = @i - 1 }, new { @class = "page-link" })</li>
                    }
                }
            }
        }
    </ul>
</nav>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/cep.js"></script>
    <script src="~/js/telefone.js"></script>
    <script src="~/js/cpf.js"></script>
}
