@model IEnumerable<Uni.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
}

<style type="text/css">
    @@media print {
        @@page {
            margin-left: 15mm;
            margin-right: 15mm;
        }

        footer {
            page-break-after: always;
        }

        .apagar {
            display: none;
        }
    }
</style>

<h1 class="text-primary mt-2">Fornecedores</h1>

<p>
    <a class="btn btn-outline-primary mt-4 apagar" asp-action="Create">Adicionar</a>
</p>

<form asp-controller="Fornecedores" asp-action="Index" method="get">

    <div class="row apagar">
        <div class="col-sm-12 col-md-4">
            <label class="control-label">Empresa</label>
            <input type="text" name="SearchString" class="form-control" />
        </div>

        <div class="col-sm-12 col-md-4">
            <label class="control-label">CNPJ</label>
            <input type="text" name="SearchString2" class="form-control cnpj-mask" maxlength="18" title="##.###.###/###-##" />
        </div>

        <div class="col-sm-12 col-md-4">
            <label class="control-label">Cidade</label>
            <input type="text" name="SearchString3" class="form-control" />
        </div>

        <div class="col-sm-12 col-md-4">
            <label class="control-label">Estado</label>
            <input type="text" name="SearchString4" class="form-control" maxlength="2" />
        </div>

        <div class="col-sm-12 col-md-1 mt-2">
            <input type="submit" value="Pesquisar" class="btn btn-outline-secondary mt-4 mb-4" />
        </div>
        <div class="col-sm-12 col-md-1 mt-2 ml-3">
            <input type="button" value="Imprimir" onclick="window.print()" class="btn btn-outline-success mt-4 mb-4" />
        </div>
    </div>

</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao_estadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao_municipal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inscricao_estadual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inscricao_municipal)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Telefone_Id_telefone">Editar</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Telefone_Id_telefone">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Telefone_Id_telefone" asp-route-endereco="@item.Endereco_Id_endereco">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
