@model IEnumerable<Uni.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
}

<h1 class="text-primary mt-2">Fornecedores</h1>

<p>
    <a class="btn btn-outline-primary mt-4" asp-action="Create">Adicionar</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoEstadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoMunicipal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoEstadual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoMunicipal)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Cnpj" asp-route-telefone="@item.Telefone_Id_telefone" asp-route-endereco="@item.Endereco_Id_endereco">Editar</a>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Cnpj">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Cnpj">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
