@model IEnumerable<Uni.Models.Cotacao>

@{
    ViewData["Title"] = "Cotações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    @@media print {
        @@page {
            margin-left: 15mm;
            margin-right: 15mm;
        }

        footer {
            page-break-after: always;
        }

        .apagar {
            display: none;
        }
    }
</style>

<h1 class="text-primary mt-2">Cotações</h1>


<p>
    <a class="btn btn-outline-primary mt-4 apagar" asp-action="Create">Adicionar</a>
</p>
<form asp-controller="CotacaoProdutoes" asp-action="Index" method="get">
    <p>
        <div class="row apagar">
            <div class="col-sm-12 col-md-3">
                <label class="control-label">Funcionário</label>
                <select name="SearchString" class="form-control" asp-items="ViewBag.Funcionario_Cpf">
                    <option value="">Todos</option>
                </select>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="control-label">Cliente</label>
                <select name="SearchString2" class="form-control" asp-items="ViewBag.Cliente_Cpf">
                    <option value="">Todos</option>
                </select>
            </div>

            <div class="col-sm-12 col-md-3">
                <label class="control-label">Data</label>
                <input type="date" name="SearchString3" class="form-control" />
            </div>
            <div class="col-sm-12 col-md-1 mt-2">
                <input type="submit" value="Pesquisar" class="btn btn-outline-secondary mt-4 mb-4" />
            </div>
            <div class="col-sm-12 col-md-1 mt-2 ml-3">
                <input type="button" value="Imprimir" onclick="window.print()" class="btn btn-outline-success mt-4 mb-4" />
            </div>
        </div>
    </p>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor_total)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id_cotacao" asp-route-novo="1">Editar</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id_cotacao">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_cotacao">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>



