@model IEnumerable<Uni.Models.Telefone>

@{
    ViewData["Title"] = "Telefones";
}

<h1>Telefones</h1>

<p>
    <a class="btn btn-outline-primary mt-4" asp-action="Create">Adicionar</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Telefones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telefones)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id_telefone">Editar</a> 
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id_telefone">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_telefone">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
