@model IEnumerable<Uni.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionários";
}

<h1 class="text-primary mt-2">Funcionários</h1>

<p>
    <a class="btn btn-outline-primary mt-4" asp-action="Create">Adicionar</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Cpf" asp-route-telefone="@item.Telefone_Id_telefone" asp-route-endereco="@item.Endereco_Id_endereco" asp-route-cargo="@item.Cargo" asp-route-email="@item.Email">Editar</a> 
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Cpf">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Cpf">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
